[Unit]
Description=Servicio Bot del alumno21.
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/bot21d

[Install]
WantedBy=multi-user.target
